---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Preview from "../components/Preview.astro";
// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob(import.meta.env.POSTS)).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		 <BaseHead title="Swiftly iOS" description='Small bites of code for big leaps in your development skills!' /> 
		<link href="http://www.dianait.dev/rss.xml" rel="alternate" type="application/rss+xml" title="Dianait RSS Feed" />
		<base href="/">
		<style>

			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
				width: 48vh;
				box-shadow: 2px 2px 5px #0590d121;
				margin: 16px 0;
				border-radius: 4px;
			}
			ul li time {
				flex: 0 0 130px;
				font-style: italic;
				color: #888;
			}
			ul li a:visited {
				color: #8e32dc;
			}
			main {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<content>
				<ul>
					{posts.map((post) => (
						<li>
							<Preview post={post} />
						</li>
					))}
				</ul>
			</content>
		</main>
		<Footer />
	</body>
</html>
