---
const {date} = Astro.props;
---

<time datetime={date}>
    📆 {new Date(date).toLocaleDateString('en', {
        year: 'numeric',
        month: 'short',
        day: 'numeric',
    })}
</time>
<style>
    time {
        padding-left: 1rem;
        font-size: 0.75rem;
        word-spacing: 0;
    }
    </style>