---
const today = new Date();
---

<footer>
	<p>
		 Build with <strong>Astro</strong> and deploy in <strong>Vercel</strong> 
		<br />🎯 <a href="https://github.com/dianait">Dianait</a>. Take a look at the<a href="https://gitlab.com/DianaIT/swiiftlyios"> code</a> 👀
	  </p>
</footer>
<style>
	footer {
  width: 95%;
  margin: 0 auto;    
}

footer p {
  text-align: center;
}


@media only screen and (min-width: 600px) {
  h2 {
    width: 85%;
    padding: 2rem 1rem  
  }

  footer {
    width: 98%;
  }
}

</style>
