---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<HeaderLink href="https://twitter.com/dianait_" target="_blank">
			<img src={`../social/twitter.webp`}  width={37} alt="@dianait_ twitter profile"/> 
		</HeaderLink>
		<HeaderLink href="https://github.com/dianait" target="_blank">
			<img src={`../social/github.webp`}  width={37} alt="dianait github profile" /> 
		</HeaderLink>
		<HeaderLink href="https://www.linkedin.com/in/dianahernandezsoler" target="_blank">
			<img src={`../social/linkedin.svg`}  width={37} alt="Diana Hernández linkedin profile"/>
		</HeaderLink>
	
	</nav>
	<a href="/"><img src="/header.webp" alt="header with the Swift word in the middle with decoration stuff" /></a>
	
</header>
<style>
	header {
		margin: 0em 0 2em;
		padding: 0;
		text-align: center;
	}

	img {
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}

	h2 {
		margin: 0.5em 0;
		font-size: 2.9em;
		font-family: "Be Vietnam", sans-serif;
	}

	a.header {
		color: inherit;
		text-decoration: none;
	}

	img {
		border-radius: 5px;
	}
</style>
