---
import Date from './Date.astro';
const {post} = Astro.props;
---

<section>
    <img src={post.frontmatter.heroImage} width="100" height="100"/>
    <article>
        <a href={post.url}>{post.frontmatter.title}</a>
        <p>{post.frontmatter.description}</p>
        <Date date={post.frontmatter.pubDate} />
    </article>
</section>
<style>
    
    section {
        margin: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: start;
        align-content: center;
        padding: 1rem;
        border-radius: 5px;
    }
    time {
        margin-left: 1rem;
        color: gray;
        font-size: .9rem;
        display: block;
    }

    p {
        margin: 0;
    }

    a, p {
        padding-left: 1rem;
    } 
    a {
        text-decoration: none;
        font-size: 1.6rem;
    }
</style>
