---

const { url, title } = Astro.props;

function getUrlShareTwitter() {
    const tweetInfo = {
        text: `¡Nuevo en el blog! 🌟 ${title} 🌟  por 🎯 @dianait_`,
        url: `https://dianait.dev${url}`,
    };
    const BASE_URL = "https://twitter.com/intent/tweet";
    const content = `?text=${encodeURI(tweetInfo.text)}`;
    const link = `&url=${tweetInfo.url}`;
    return BASE_URL + content + link;
}
---

<a href={getUrlShareTwitter()}>Share</a>
<style>
    a {
        color: white !important;
        display: block;
        text-decoration: none;
        background-color: #5da8dc;
        width: 15rem;
        height: 3rem;
        border-radius: 50px;
        font-weight: bold;
        text-align: center;
        line-height: 3rem;
        position: fixed;
        bottom: 2rem;
        margin: 0 auto; 
        left: 0;
        right: 0;   
    }

</style>
