---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Share from "../components/Share.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		url?: String;
	};
}

const {
	content: { title, description, pubDate, updatedDate, url },
} = Astro.props as Props;
---

<html>
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2.4em;
				margin: 0.25em 0 0;
				font-family: "Alegreya Sans SC", sans-serif;
			}
			hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}

			main {
				margin-bottom: 5rem;
			}

			span {
				margin-left: 1rem;
				color: gray;
				font-size: 0.9rem;
				display: block;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
					<h1 class="title">{title} <span>📆 {updatedDate ?? pubDate}</span></h1>
					

				<hr />
				<slot />
			</article>
			<Share url={url} title={title} />
		</main>
	</body>
</html>
